 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: #080808;
    color: #101010;
}

.header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    padding: 2rem 15%;
    background: rgba(0, 0, 0 , 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menu.icons {
    font-size: 3.5rem;
    color: #101010;
    display: none;
}

.logo {
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.span1 {
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    background-clip: text;
    color: transparent;
}

.navbar a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    color: #ea580c;
    border-bottom: 3px solid #ea580c;
}

.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
    flex-wrap: nowrap;
}

.gradient-btn:hover {
    transform: scale(1.05);
}

section {
    min-height: 100vh;
    padding: 10rem 15%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    margin-top: 30px;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content h1 {
    font-size: 8rem;
    font: 700;
    margin-top: 1.5rem;
    line-height: 1;
    color: white;
}

.home-content h3 {
    margin: 1rem 0;
    font-size: 4rem;
    color: white;
}

.home-content p {
    font-size: 1.5rem;
    font: 500;
    line-height: 1.8;
    color: white;
}

span {
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    background-clip: text;
    color: transparent;
}

.home-img img{
    width: 25vw;
    border-radius: 50%;
    background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
    box-shadow:  0 0 25px #ea580c;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px #ea580c , 0 0 50px #ea580c , 0 0 100px #ea580c;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid #ea580c;
    border-radius: 50%;
    color: #ea580c;
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: white;
    background-color: #ea580c;
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px #ea580c;
} 

.btn-group {
    display: flex;
    gap: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #ea580c;
    box-shadow: 0 0 25px #ea580c;
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn a {
    color: black;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #ea580c , 0 0 50px #ea580c;
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: #ea580c;
    border: 2px solid #ea580c;
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px #ea580c;
    background-color: #ea580c;
    color: black;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: #101010;
}

.about-img img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #ea580c;
    transition: 0.4s ease-in-out;
    background:  linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
}

.about-img img:hover {
    box-shadow: 0 0 25px #ea580c , 0 0 50px #ea580c , 0 0 100px #ea580c;
}

.about-content h2 {
    font-size: 7rem;
    color: white;
    text-align: left;
}

.about-content p {
    font-size: 1.8rem;
    color: white;
}

.about-content .btn {
    margin: 3rem 0;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #ea580c;
}

::-webkit-scrollbar-track {
    background-color: #101010;
}

.heading {
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
    color: white;
}

.services {
    background-color: #080808;
    color: black;
}

.services h2 {
    color: white;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.services-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea580c;
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}

.services-box:hover {
    background: #101010;
    color: #ea580c;
    border: 5px solid #ea580c;
    transform: scale(1.03);
}

.services-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.services-info h4 {
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}

.services-info p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7rem;
}

.services-info i {
    font-size: 8rem;
}

.projects {
    background-color: #101010;
}

.project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
} 

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #080808;
    border: 2px solid #ea580c;
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px #ea580c;
    transition: 0.3s ease-in-out;
} 

.project-card:hover {
    box-shadow: 0 0 5px #ea580c , 0 0 50px #ea580c;
    transform: scale(1.02);
}

.project-card img {
    width: 300px;
    height: 200px;
    border-radius: 2rem;
    object-fit: cover;
}

.project-card h3 {
    color: white;
    font-size: 3rem;
}

.project-card p {
    color: white;
    font-size: 1.8rem;
}

.Contact {
    background-color: #101010;
}

.Contact h2 {
    margin-bottom: 3rem;
    color: white;
}

.Contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.Contact form .input-box input, .Contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: white;
    background-color: #080808;
    border-radius: 2rem;
    border: 2px solid #ea580c;
    margin: 1.5rem 0;
    resize: none;
}

.footer {
    background-color: #101010;
    padding: 50px 0;
}

.footer .social-icons {
    text-align: center;
}

.footer ul {
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li {
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
    border-bottom: 3px solid #ea580c;
} 

.footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    color: white;
}

@media(max-width:1110px){
    #menu-icon {
        display: block;
        color: #ea580c;
        font-size: 3rem;
    }
    .navbar {
        position:absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0 , 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid #ea580c;
        border-bottom: 2px solid #ea580c;
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .navbar.active {
        display: block;
    }
    .gradient-btn {
        display: none;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img img {
        width: 45vw;
    }
    .about {
        flex-direction: column-reverse;
        text-align: center;
    }
    .about-content h2 {
        text-align: center;
        margin: 2rem 0;
    }
    .about-img img {
        width: 42vw;
    }
    .Contact form {
        flex-direction: column;
    }
}

@media(max-width:468px) {
    .home h1 {
        font-size: 4rem;
    }
    .about-content h2 , .services h2 , .Contact h2{
        font-size: 3.6rem;
    }
    .footer {
        font-size: 1.2rem;
    }
    
    .footer ul li {
        margin-left: 8px;
    }
}